{% extends 'base.html' %}
{% block content %}

<style>
    .btn_est{
        background-color: #5FBBAC;
        color: #ffffff;
    }
</style>

<p class="text_grey">Excluir Usuário</p>
<form method="POST" action="/salvar_delecao" >
    <input type="hidden" name="id" value="{{usuario.id}}">
    
    <div class="row">
                
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control" value="{{usuario.nome}}" disabled="true">
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="nome">CPF:</label>
                <input type="text" name="cpf" class="form-control" value="{{usuario.cpf}}" disabled="true">
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="email">Email:</label>
                <input type="text" name="email" class="form-control" value="{{usuario.email}}" disabled="true">
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="celular">Celular:</label>
                <input type="text" name="celular" class="form-control" value="{{usuario.celular}}" disabled="true">
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="telefone">Telefone:</label>
                <input type="text" name="telefone" class="form-control" value="{{usuario.telefone}}" disabled="true">
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group inputBox">
                <label class="text_label" for="login">Login:</label>
                <input type="text" name="login" class="form-control" value="{{usuario.login}}" disabled="true">
            </div>
        </div>

        <div class="col-md-6"></div>
        <div class="col-md-9"></div>
    
        <div class="col-md-3" style="text-align: right;">
            <a class="btn btn_est" href="/usuario">CANCELAR</a>
            <button type="submit" class="btn btn_est">EXCLUIR</button>            
        </div>
    </div>
</form>

{% endblock %}